@import url('reset.css');

/* Google-font連結套用 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


/* 套用字體 Caveat */
* {
    font-family: "Caveat", system-ui !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.wrapper {
    background: lightgoldenrodyellow;
    width: 450px;
    height: 550px;
    margin: 80px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin: 30px 0;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.inputText{
    font-size: 22px;
    font-weight: 600;
}

.inputText:focus{
    outline: none;
    border:2px solid rgb(218, 123, 41);
}

.addBtn {
    font-size: 20px;
    font-weight: 700;
}

.listItem {
    overflow-y: auto;
    max-height: 350px;
    width: 300px;
}

li {
    margin:20px 30px 0 0;
    display: flex;
    justify-content: space-between;
}

.deleteItem {
    color: red;
    font-weight: 800;
}

label {
    font-size: 24px;
    color: brown;
    font-weight: 700;
}